label {
  display: block;
  line-height: 32px;
  /* margin: 11px; */
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: #666;

}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
button[type="submit"]{
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  width: 173px;
  margin-top: 20px;
  padding: 10px;
}
button:hover, button:focus {
  background-color: green ;
  color: white;
}

.form-text{
  margin-bottom: 100px;
}